<?xml version="1.0" encoding="UTF-8"?>

<!-- Define properties and behavior -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         colors="true"
         bootstrap="autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="false"
         stopOnFailure="true">

  <!-- Include locations of the classes -->
  <php>
    <includePath>.</includePath>
    <includePath>app</includePath>
    <includePath>tests</includePath>
  </php>
  
  <!-- Specify the Test Suites -->
  <testsuites>
    <!-- Name and location of the Test Suite to perform -->
    <testsuite name="Soda Machine Tests">
      <!-- Path is relative to the location of this config file -->
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <!-- Specify Test Coverage -->
  <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <include>
      <!-- Cover all PHP files in the app folder -->
      <!-- Path is relative to the location of this config file -->
      <directory suffix=".php">app</directory>
    </include>
  </source>
  
</phpunit>